Repository mparkachov/aws-iot-steel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-iot-steel-team, @devops-team, @security-team, @embedded-team, @steel-lang-team, @qa-team, @docs-team

Added AWS CI/CD pipelines
  .kiro/specs/aws-iot-steel/README.md
  .kiro/specs/aws-iot-steel/tasks.md
  aws-infrastructure/README.md
  aws-infrastructure/cloudformation/codepipeline-infrastructure.yaml
  aws-infrastructure/scripts/deploy-all-infrastructure.sh
  aws-infrastructure/scripts/deploy-codepipeline.sh
  aws-infrastructure/scripts/provision-device-automated.sh
  aws-infrastructure/scripts/rollback-deployment.sh
  aws-infrastructure/tests/test-codepipeline.sh
  scripts/upload-to-aws.sh
Owners: @aws-iot-steel-team, @devops-team, @security-team

Reorganized documentation
  .github/README.md
  GITHUB_ACTIONS_SETUP.md
  README.md
  aws-iot-core/Cargo.toml
  aws-iot-core/src/security.rs
  docs/ARTIFACT_MANAGEMENT.md
  docs/CHANGELOG.md
  docs/README.md
  docs/TESTING.md
  docs/github-actions-setup.md
Owners: @aws-iot-steel-team, @devops-team, @docs-team

Updated main readme
  .github/README.md
  README.md
Owners: @aws-iot-steel-team, @devops-team, @docs-team

Some more updates of current status for README
  README.md
Owners: @aws-iot-steel-team, @docs-team

Updated cache version in pipelines
  .github/workflows/build.yml
  .github/workflows/coverage.yml
Owners: @aws-iot-steel-team, @devops-team

Fixed clippy issues with embedded-svc
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  .github/workflows/steel-programs.yml
  aws-iot-platform-esp32/Cargo.toml
  aws-iot-platform-esp32/src/esp32_hardware.rs
  examples/basic_hal_demo.rs
Owners: @aws-iot-steel-team, @devops-team, @security-team, @embedded-team

Created local script to run pipeline checks before push
  .github/workflows/build.yml
  .gitignore
  Cargo.toml
  Makefile
  README.md
  aws-iot-platform-esp32/src/esp32_hardware.rs
  deny.toml
  docs/esp32-troubleshooting.md
  docs/local-ci-setup.md
  production/README.md
  scripts/fix-rust-version.sh
  scripts/install-espup-binary.sh
  scripts/local-ci.sh
  scripts/pre-push.sh
  scripts/quick-check.sh
  scripts/setup-esp32-macos.sh
  scripts/setup-local-ci.sh
  scripts/skip-esp32-setup.sh
  scripts/test-esp32-build.sh
Owners: @aws-iot-steel-team, @devops-team, @docs-team, @embedded-team, @security-team

Fixing installation of esp32 toolchain
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Cargo.toml
  ESP32_TOOLCHAIN_STATUS.md
  MACOS_PLATFORM_IMPLEMENTATION.md
  Makefile
  examples/Cargo.toml
  examples/linux_ci_demo.rs
  examples/macos_system_demo.rs
  scripts/esp32-status.sh
  scripts/local-ci.sh
  scripts/pre-push.sh
  scripts/setup-esp32-macos.sh
  scripts/test-examples.sh
Owners: @aws-iot-steel-team, @devops-team

Locked version of rust
  .github/workflows/ci.yml
  RUST_VERSION_FIX.md
  rust-toolchain.toml
Owners: @aws-iot-steel-team, @devops-team

fix: resolve macOS platform tests failing on Linux CI
  .github/workflows/ci.yml
  MACOS_CI_FIX_COMPLETE.md
  aws-iot-platform-macos/src/hal.rs
  aws-iot-platform-macos/src/system_monitor.rs
Owners: @aws-iot-steel-team, @devops-team

Updated rust version
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  .github/workflows/steel-programs.yml
  CARGO_DENY_VERSION_FIX.md
  Cargo.toml
  RUST_VERSION_UPDATE.md
  rust-toolchain.toml
  scripts/fix-rust-version.sh
  scripts/local-ci.sh
  scripts/pre-push.sh
Owners: @aws-iot-steel-team, @devops-team, @security-team

.github/CODEOWNERS:

# Global code owners
* @aws-iot-steel-team

# GitHub Actions workflows
/.github/ @aws-iot-steel-team @devops-team

# Security and infrastructure
/aws-infrastructure/ @aws-iot-steel-team @devops-team @security-team
/.github/workflows/security.yml @security-team
/deny.toml @security-team

# ESP32 platform code
/aws-iot-platform-esp32/ @aws-iot-steel-team @embedded-team

# Steel programs and examples
/aws-iot-core/examples/steel/ @aws-iot-steel-team @steel-lang-team
/steel-programs/ @aws-iot-steel-team @steel-lang-team

# Core Rust implementation
/aws-iot-core/src/ @aws-iot-steel-team
/aws-iot-platform-macos/src/ @aws-iot-steel-team

# Testing infrastructure
/aws-iot-tests/ @aws-iot-steel-team @qa-team
/TESTING.md @aws-iot-steel-team @qa-team

# Documentation
/README.md @aws-iot-steel-team @docs-team
/docs/ @docs-team
